/*Hoja de estilos CSS para la categoria de juegos de plataforma*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Open+Sans:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(219, 219, 123);
}

main {
    margin-top: 10px;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(30px, auto);
    background-color:black;
    border-color: black;
    border-style: groove;
    border-radius: 10px;
}

header p {
    text-align: center;
    color: white;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

#tittle {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    border-style: groove;
    padding-top: 20px;
    border-radius: 10px;
    background-color: rgb(255, 115, 0);
    font-size: x-large;
    grid-column: 2/5;
    grid-row: 2;
    padding-bottom: 15px;
    border-color: rgb(146, 146, 39);
    border-width: 5px;
    
}

#home {
    color: white;
    grid-column: 5;
    grid-row: 3;
}

.principal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    background-color:black;
    border-color: black;
    border-style: groove;
    border-radius: 10px;
}

#informacion {
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: rgb(226, 226, 77);
    border-style: groove;
    border-radius: 10px;
    border-width: 10px;
    border-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(146, 146, 39);
    font-family: 'Open Sans', sans-serif;
    grid-column: 2/6    ;
    grid-row: 1;
}

.general {
    margin-left: 5px;
    margin-right: 5px;
    border-style: groove;
    border-color: rgb(146, 146, 39);
    border-width: 5px;
    border-radius: 10px;
}

